<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <properties>
        <!-- 文件输出格式 -->
		<property name="PATTERN1">[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n</property>
		<property name="PATTERN2">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p - %m %l%n</property>
        <property name="PATTERN3">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
		<property name="PATTERN4">%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</property>
		<property name="PATTERN5">%d{yyyy-MM-dd HH:mm:ss.SSS} |-%-5level [%thread] %c [%L] -| %msg%n</property>
    </properties>

    <appenders>
		<!-- 输出到控制台的配置 -->
        <Console name="Console" target="system_out">
            <PatternLayout pattern="${PATTERN2}" />
        </Console>

		<!-- 输出到文件会打印出所有信息，append属性为false会自动清空-->
		<!-- C:\Users\Lenovo\logs -->
		<!--<File name="Catalina" fileName="${sys:user.home}/logs/catalina.log" append="true">
			<PatternLayout pattern="${PATTERN4}" />
		</File>-->
        <!-- linux服务器日志 ??? -->
		<!--<File name="Catalina" fileName="${LogFile.Location}/catalina.log" append="true">
			<PatternLayout pattern="${PATTERN4}" />
		</File>-->

		<!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
		<!--<RollingFile name="RollingFileInfo" fileName="${sys:user.home}/logs/info.log" filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
        	&lt;!&ndash;控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）&ndash;&gt;       
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="${PATTERN1}" />
        	<Policies>
            	<TimeBasedTriggeringPolicy/>
            	<SizeBasedTriggeringPolicy size="20 MB"/>
        	</Policies>
		</RollingFile>

		<RollingFile name="RollingFileWarn" fileName="${sys:user.home}/logs/warn.log" filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log">
             <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
             <PatternLayout pattern="${PATTERN1}" />
             <Policies>
                 <TimeBasedTriggeringPolicy/>
                 <SizeBasedTriggeringPolicy size="20 MB"/>
             </Policies>
             &lt;!&ndash; DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 &ndash;&gt;
             <DefaultRolloverStrategy max="20"/>
         </RollingFile>

		<RollingFile name="RollingFileError" fileName="${sys:user.home}/logs/error.log" filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
             <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
             <PatternLayout pattern="${PATTERN1}" />
             <Policies>
                 <TimeBasedTriggeringPolicy/>
                 <SizeBasedTriggeringPolicy size="20 MB"/>
             </Policies>
         </RollingFile>-->

    </appenders>

	<!-- 只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
		<!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
        <logger name="org.springframework" level="INFO"></logger>
        <logger name="org.mybatis" level="INFO"></logger>
        <logger name="org.apache.commons" level="INFO"></logger>
		<logger name="org.apache.axis" level="INFO"></logger>
		<logger name="org.elasticsearch" level="INFO"></logger>

		<root level="DEBUG">
             <appender-ref ref="Console"/>
             <appender-ref ref="Catalina"/>
             <appender-ref ref="RollingFileInfo"/>
             <appender-ref ref="RollingFileWarn"/>
             <appender-ref ref="RollingFileError"/>
         </root>
    </loggers>

</configuration>



